[submodule "sdl2-cmake-scripts"]
	path = sdl2-cmake-scripts
	url = https://github.com/tcbrindle/sdl2-cmake-scripts.git
[submodule "glTF-Sample-Models"]
	path = glTF-Sample-Models
	url = git@github.com:KhronosGroup/glTF-Sample-Models.git
